In [1]:
import mysql.connector
import pandas as pd
from sqlalchemy import create_engine

SQL 쿼리 실행

In [3]:
# MySQL 데이터베이스 연결 설정
db_connection_str = 'mysql+mysqlconnector://manager:Olitcrm!!@192.168.0.184/customer_imweb_ex'
db_connection = create_engine(db_connection_str)

아임웹 회원가입수

In [5]:
#########타브랜드 customer_co 수정 필요#############
query1 = """
SELECT YEAR(join_date) AS fyear, MONTH(join_date) AS fmonth, COUNT(DISTINCT(customer_key)) AS fsign_ups
FROM customer_co
WHERE YEAR(join_date) >= 2022
GROUP BY 1, 2;
"""
df1 = pd.read_sql(query1, con=db_connection)
#브랜드 명 변경(안해도됨,보기 위한 용도)
df1['brand'] = '코코'
print(df1)

    fyear  fmonth  fsign_ups brand
0    2022       2          1    코코
1    2022       3          5    코코
2    2022       4        762    코코
3    2022       5       1444    코코
4    2022       6       1422    코코
5    2022       7       1434    코코
6    2022       8       2213    코코
7    2022       9       3818    코코
8    2022      10       4749    코코
9    2022      11       9048    코코
10   2022      12       6583    코코
11   2023       1       7561    코코
12   2023       2       9142    코코
13   2023       3       6733    코코
14   2023       4       6317    코코
15   2023       5       6031    코코
16   2023       6       5241    코코
17   2023       7       7662    코코
18   2023       8       4324    코코
19   2023       9       2980    코코
20   2023      10       2567    코코
21   2023      11       1719    코코
22   2023      12       1169    코코
23   2024       1       1834    코코
24   2024       2       1836    코코
25   2024       3       1440    코코
26   2024       4       1474    코코

아임웹 결제자, 결제금액

In [7]:
from datetime import datetime
######### 현재 날짜 및 기준 날짜 변경 필요
#현재년도, 월
current_year = 2024
current_month = 4
#시작년도,월
start_year = 2022
start_month = 4

dfextract = pd.DataFrame()
for year in range(start_year, current_year + 1):
    for month in range(1, 13):
        if year == current_year and month > current_month:
            break
        
        #브랜드 명 변경(안해도됨,보기 위한 용도)
        query = """
        SELECT YEAR(orderdate) AS order_year, MONTH(orderdate) AS order_month, count(distinct(customer_key)) as signed, SUM(total_price) AS total_amount
        FROM orders_co
        WHERE customer_key IN (
            SELECT customer_key
            FROM customer_co
            WHERE YEAR(join_date) = %s AND MONTH(join_date) = %s AND customer_key IS NOT NULL
        )
        AND itemordernum IN (
            SELECT MAX(itemordernum)
            FROM orders_co
            GROUP BY ordernum
        )
        AND orderstatus NOT IN ('입금대기')
        GROUP BY 1, 2
        ORDER BY 1, 2;
        """
        
        #브랜드 명 변경(안해도됨,보기 위한 용도)
        df = pd.read_sql(query, con=db_connection, params=(year, month))
        df['brand'] = '코코'
        df['fyear'] = year
        df['fmonth'] = month
        
        dfextract = pd.concat([dfextract, df], ignore_index=True)

# 결과 엑셀로 출력
dfextract.to_excel('dfextract.xlsx', index=True)

C:\Users\김민경\AppData\Local\Temp\ipykernel_14664\1483844291.py:43: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  dfextract = pd.concat([dfextract, df], ignore_index=True)

###자동화용####두 데이터 병합 후 엑셀파일로 변환

In [40]:
###자동화용##미완성
#merged_sp = pd.concat([dfextract, df1], axis=1, ignore_index= False)
#print(merged_sp)
#merged_sp.to_excel('merged_sp.xlsx', index=True)

     order_year  order_month  signed  total_amount brand   fyear  fmonth  \
0          2022            1    1063   116974171.0    심플  2022.0     1.0
1          2022            2      67     7943346.0    심플  2022.0     2.0
2          2022            3      85    10239420.0    심플  2022.0     3.0
3          2022            4      57     7708730.0    심플  2022.0     4.0
4          2022            5      53     7697126.0    심플  2022.0     5.0
..          ...          ...     ...           ...   ...     ...     ...
401        2024            3      29     3306849.0    심플     NaN     NaN
402        2024            4      41     3640994.0    심플     NaN     NaN
403        2024            3     770    89983274.0    심플     NaN     NaN
404        2024            4      56     6590593.0    심플     NaN     NaN
405        2024            4     455    42016700.0    심플     NaN     NaN

     fsign_ups brand
0       1525.0    심플
1       3079.0    심플
2       4395.0    심플
3       4429.0    심플
4       3561.0    심플
..         ...   ...
401        NaN   NaN
402        NaN   NaN
403        NaN   NaN
404        NaN   NaN
405        NaN   NaN

[406 rows x 9 columns]

카페24 회원가입수

In [9]:
#########타브랜드 customer_co 수정 필요#############

query1 = """
select year(join_date), month(join_date), count(distinct(customerID))
from customer_24_dra
where year(join_date) >=2023
group by 1,2;
"""
df1 = pd.read_sql(query1, con=db_connection)
#브랜드 명 변경(안해도됨,보기 위한 용도)
df1['brand'] = '닥터'
print(df1)

    year(join_date)  month(join_date)  count(distinct(customerID)) brand
0              2023                 1                          143    닥터
1              2023                 2                           39    닥터
2              2023                 3                          344    닥터
3              2023                 4                         1561    닥터
4              2023                 5                         1142    닥터
5              2023                 6                          321    닥터
6              2023                 7                         1532    닥터
7              2023                 8                         1241    닥터
8              2023                 9                         2678    닥터
9              2023                10                         4598    닥터
10             2023                11                         4054    닥터
11             2023                12                         3492    닥터
12             2024                 1                         1741    닥터
13             2024                 2                         1145    닥터
14             2024                 3                         1243    닥터
15             2024                 4                         1031    닥터

카페24 결제자 결제금액

In [14]:
from datetime import datetime
######### 현재 날짜 및 기준 날짜 변경 필요
#현재년도, 월
current_year = 2024
current_month = 4
#시작년도,월
start_year = 2022
start_month = 4

for year in range(start_year, current_year + 1):
    for month in range(1, 13):
        if year == current_year and month > current_month:
            break
        
        # SQL 쿼리문 수정(custoemr_24_al, orders_24 등)
        query = """
        select year(orderdate), month(orderdate), count(distinct(customerID)), sum(total_price) 
        from orders_24_dra
        where customerID in (select customerID
        from customer_24_dra
        where year(join_date) = %s and month(join_date) = %s and customerID is not null)
        and itemordernum in (select max(itemordernum) from orders_24_dra group by ordernum)
        and orderstatus like '배송%'
        group by 1,2
        order by 1,2;
        """
        
        df = pd.read_sql(query, con=db_connection, params=(year, month))
        #브랜드 명 변경(안해도됨,보기 위한 용도)
        df['brand'] = '닥터아망'
        df['fyear'] = year
        df['fmonth'] = month
        
        dfextract = pd.concat([dfextract, df], ignore_index=True)

# 결과 출력 
#print(dfextract)
dfextract.to_excel('dfextract.xlsx', index=True)